.container {
  text-align: left;
  position: relative;
}

.suggestionsList {
  list-style: none;
  padding-inline-start: 0px;
  border: 1px solid black;
  position: absolute;
  width: 100%;
  background-color: white;
}

.suggestion::before {
  content: "";
  width: 10px;
  display: inline-block;
}

.suggestion:hover {
  font-weight: bold;
  background-color: whitesmoke;
}